node_modules
dist
.env
backend/database/*.sqlite
backend/database/*.sqlite-shm
backend/database/*.sqlite-wal
backend/storage/test-uploads/*
!backend/storage/test-uploads/.gitkeep
requisição.md
requisição.md
requisição.md
docs/
docs
